#app
  padding 0
  margin 0
  font-family "Work Sans"

.login
  display flex
  input
    border 0
    margin 0 .1em
    flex 1 1 auto
    text-align center
    background #eee
    border-bottom 2px solid rgb(0, 150, 150, 1)
  .btn  
    cursor pointer
    padding 1em
    background #333
    color #fff
    font-weight 600

.info
  display flex
  p
    flex 1 1 auto
    padding 0
    margin 0
  p.close
    cursor pointer
    flex 0 0 fit-content
    text-align right
  text-align center
  font-weight 600
  margin .25em 0em
  padding 1em
  border-radius .5em
  background rgba(200, 25, 10, .2)
  color rgb(200, 50, 0)
  